* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header,footer{
	background-color: black;
	height:70px;
}
header{
	border-bottom: solid yellow 3px;
	/*padding-top: 20px;*/
	/*padding-bottom: 20px;*/
}
h1{
	font-size: 30px;
	font-family: Merriweather;
	font-weight: 700;
	color: #fdf731;
	float:left;
	line-height: 68px;
}
nav{
	font-size: 20px;
	float:right;
}
.page{
	width:20%;
	display:inline-block;
	padding-top: 10px;
	padding-bottom: 10px;

}
.upper{
	font-family: Oswald;
	font-weight: 700;
}
.capital{
	font-family: Source Sans;
	font-weight: 400;
}
.first-sec{
	background-color: #c6c6c6;
	height:540px;
}
.tagline{
	font-size: 25px;
	font-family: Merriweather;
	font-weight: 700;
	font-style: italic;
	text-align: center;
	line-height: 25px;
}
.slogan{
	height:75px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.through{
	text-decoration: line-through;
	color: #4b4b4b;
}
.under{
	text-decoration: underline;
	color: black;
	text-decoration-color: #fdf731;
}
.image{
	background-image: url("../images/coworking.jpg");
	background-size: cover;
	background-position: center;
	height:465px;
	padding-top: 55px;
	padding-bottom: 55px;
	padding-right:30px;
}
.island{
	width: 35%;
	height: 80%;
	float:right;
	background-color: #ffffff;
	opacity: 0.85;
	padding: 65px 50px 50px 50px;
}
.clearfix::after{
	content:"";
	clear:both;
	visibility: :hidden;
	display: block;
	height: 0;
}
h2{
	font-size: 30px;
	font-family: Source Sans;
	font-weight: 700;
}
p{
	font-size: 20px;
	font-family: Source Sans;
	font-weight: 400;
}
a{
	font-size: 20px;
	font-family: Oswald;
	font-weight: 400;
	height:50px;
	background-color: #c6c6c6;
}
.column{
	width:33.3%;
	height:315px;
	float:left;
	padding-left: 35px;
	padding-right: 35px
	padding-bottom: 50px;
	padding-top: 60px;
}
span{
	font-size: 20px;
	font-family: Source Sans;
	font-weight: 400;
	color: white;
}
footer{
	padding-top: 45px;
	padding-left: 30px;
}


